# Ignorar pastas específicas
.idea/
.venv/
browser/

# ARQUIVOS DO ROBOT FRAMEWORK / SELENIUM / REPORTS
allure-results/
.pabotsuitenames
logs/
log.html
output.xml
report.html
selenium-screenshot-*.png